services:
  db:
    image: murrayinglis/da-tech-test-db:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d postgres" ]
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    image: murrayinglis/da-tech-test:latest
    environment:
      PORT: 8080
    ports:
      - "8080:8080"
      - "8554:8554"
    depends_on:
      db:
        condition: service_healthy

volumes:
  db-data:
